@import "tailwindcss";

@theme {
  --color-brand: #4640de;
  --color-brand-light: #f8f8fd;
  --color-brand-text: #515b6f;
  --color-brand-dark: #202430;
}

body {
  background-color: #ffffff;
  color: var(--color-brand-text);
}

a {
  text-decoration: none;
}
